/*
    This CSS code is based on the PureCSS code
    and the examples at http://purecss.io/

    LICENCE:
    Copyright 2013 Yahoo! Inc. All rights reserved.
    Copyright 2015 Rob Hagemans.

    Redistribution and use in source and binary forms, with or without modification,
    are permitted provided that the following conditions are met:

    * Redistributions of source code must retain the above copyright
      notice, this list of conditions and the following disclaimer.

    * Redistributions in binary form must reproduce the above copyright
      notice, this list of conditions and the following disclaimer in the
      documentation and/or other materials provided with the distribution.

    * Neither the name of the Yahoo! Inc. nor the
      names of its contributors may be used to endorse or promote products
      derived from this software without specific prior written permission.

    THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
    ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
    WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.
    IN NO EVENT SHALL YAHOO! INC. BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
    SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
    PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
    BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
    CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING
    IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY
    OF SUCH DAMAGE.
*/


/*
 * General styling
 */

/* Use VGA bitfont throughout the page */

@font-face {
  font-family: vga;
  src: url('ttf-font/freedos_16.woff') format('woff'), /* Pretty Modern Browsers */
       url('ttf-font/freedos_16.ttf')  format('truetype') /* Safari, Android, iOS */
}

@font-face {
    font-family: vga;
    font-weight: bold;
    src: url('ttf-font/freedos_08.woff') format('woff'), /* Pretty Modern Browsers */
         url('ttf-font/freedos_08.ttf')  format('truetype') /* Safari, Android, iOS */
}

* {
    font-family: vga;
}

/* Ensure borders don't mess up the grid */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Use wide spacing and grey text by default */

body {
    line-height: 1.7em;
    color: #aaaaaa;
    position: relative;
    min-height: 100vh;
}

/* Dark grey for headers and labels */

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #555555;
}

/* these are provided for lynx, IE 8 and the likes */
hr {
    display: none;
}


/*
 * Links and buttons
 */

a, a:visited {
    color: #aaaaaa;
}

.splash a {
    color: black;
}

a:hover {
    color: white;
}


a.pure-button-primary {
    font-weight: bold;
    background-color: #008800;
    color: #ffff55;
}

.note {
    font-size: 0.6em;
    display: block;
    padding: 0.4em;
    letter-spacing: 0.08em;
    font-weight: normal;
}

/*
 * -- MENU STYLES --
 */


.pure-menu {
    border-bottom: 1em solid #aaaaaa;
}

.home-menu {
    text-align: center;
    background: #0000aa;
}

.pure-menu.pure-menu-fixed {
    position: relative;
}

.home-menu .pure-menu-heading {
    color: white;
    font-weight: bold;
    font-size: 120%;
}

/* Navigation links */

.home-menu a {
    color: #00aaaa;
}

.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #55ffff;
}

.home-menu .pure-menu-selected a,
.home-menu .pure-menu-selected a:visited
{
    color: #aaaaaa;
}

.home-menu .pure-menu-selected a:hover {
    color: white;
}

/*
 * screenshots
 */

figure {
    margin: 0;
    padding: 0;
}

/* fit screenshot in grid unit but do not scale with text */
img {
    width: 100%;
    height: auto;
    display: block;
}

/*
 * -- SPLASH STYLES --
 */


/* page header */
h1 {
  font-size: 1em;
  font-weight: normal;
  color: white;
}

.splash-container {
     width: 100%;
     height: 100%;
     position: relative;
 }


.splash {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
}

.splash-head {
    color: white;
    padding: 0.5em 0.8em 1.5em 0.8em;
    line-height: 1.2em;
    width: 100%;
    text-align: center;
    background-color: #5555ff; /*rgb(170, 85, 0);*/
    border: 0.35em double white;
}


/*
 * -- CONTENT STYLES --
 */


article h2 {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
    text-align: center;
}

article {
    background: black;
}

article section {
    padding: 1em;
}

/* for thse browsers that don't support n-th-of-type,
   ll subheaders will be appropriately monochrome green-on-black */
article h3 {
    color: #00aa00;
}

article:nth-of-type(1) {
    background: white;
}

article:nth-of-type(1) a:hover {
    color: #555555;
}


article:nth-of-type(1) h3
{
    color: #0000aa;
}

/* dark background */
article:nth-of-type(2) h3
{
    color: #00aa00; /*#1f8dd6;*/
}

article:nth-of-type(3) h3
{
    color: #00aaaa; /*#1f8dd6;*/
}

.icon {
    color: #5555ff; /*;
}

footer {
    b*/ackground: #555555;
/*    position: relative;*/


    z-index: 2;
    text-align: center;
    padding: 1em;

    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin:0;
}

small {
    font-size: 0.7em;
}

/* HORIZONTAL MENU from pure.io source code, modified to
   be vertical on mobile, horizontal elsewhere. */

.pure-menu-responsive {
    width: 100%;
    /* this breaks on Firefox, not sure why it's there anyway */
    /* white-space: nowrap;*/
}


/* download table */

table {
    margin: auto;
}

img.icon {
    height: 2em;
    width: auto;
    margin: auto;
}

th {
    text-align: left;
    border-bottom: 0.5em double #555555;
}
td, th {
    padding: 0.5em 1em 0.5em 1em;
}
td {
    border-bottom: 0.2em solid #aaaaaa;
}
td, th, td a{
    color: #555555;
}

#generaldownload {
    text-align: center;
}

.footspace {
    height: 10em;
    position: relative;
    display: block;
    background: black;
    margin: 0;
    border: none;
    z-index: 2;
}

.space {
    display: inline-block;
    margin-bottom: 1em;}


/* narrow mobile screens */

@media (max-width: 29.5em) {

    /* Force table to not be like tables anymore */
    table, tbody, td, tr {
        display: block;
    }
    th {
        display: none;
    }
    td {
        border: none;
        text-align: center;
    }
    tr {
        border-bottom: 0.2em solid #aaaaaa;
    }
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 */

@media (min-width: 55em) {
    /* was: 48em */


    /* We increase the body font size */
    body {
        font-size: 1.2em;
    }

    /* scrolled-over container */
    header {
        z-index: 1;
        overflow: hidden;
        width: 100%;
        height: 88%;
        top: 14.5em;
        left: 0;
        position: fixed !important;
        background: black;
    }



    /* spacer to push scrollover content down the page initially */
    .balloon {
        display: block;
        /* may cause issues on iOS 7 tablets? */
        height: 82vh;
    }

    /* We want to give the content area some more padding */
    article {
        position: relative;
        z-index: 2;
        padding: 1em;
    }

    /* We can align the menu header to the left, but float the
    menu items to the right. */
    .home-menu {
        text-align: left;
    }
        .home-menu ul {
            float: right;
        }


    /* horizontal menu takes less space */
    header {
        top: 3.5em;
    }

    .splash {
        width: 70%;
        height: 50%;
        position: absolute;
        top: 1em; left: 0; bottom: 0; right: 0;
        margin: auto;
        text-align: center;
    }

    .splash-head {
        padding: 0.5em 0.8em 1.5em 0.8em;
        width: 100%;
    }

    .pure-menu.pure-menu-fixed {
        /* menu stays visible on tablet and desktop screens */
        position: fixed;
        z-index: 4;
    }

    /* footer needs less vertical space than on mobile */
    .footspace {
        height: 7em;
    }

    /* HORIZONTAL MENU from pure.io source code */

    .pure-menu-responsive .pure-menu-list {
        display: inline-block;
    }

    /* Initial menus should be inline-block so that they are horizontal */
    .pure-menu-responsive .pure-menu-item,
    .pure-menu-responsive .pure-menu-heading,
    .pure-menu-responsive .pure-menu-separator {
        display: inline-block;
        *display: inline;
        zoom: 1;
        vertical-align: middle;
    }
}


/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 */

@media (min-width: 78em) {

}
